name: scansphere
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.18.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0

  # packages added for admin / booking / QR / images / scanner
  image_picker: ^0.8.7+5
  mobile_scanner: ^3.5.5
  uuid: ^4.4.2
  qr_flutter: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/events.json
    - assets/images/
